<nav id="primary-nav">
  <ol>
    <li id="site-home" data-order="4">
      <a href="{{ '/' | relative_url }}">
        {% include logo.html %}
        <span class="screen-reader-text">{{ site.title }}</span>
      </a>
    </li>

    <li data-order="1">
      <a href="{% link about.md %}">About</a>
    </li>

    <li data-order="2">
      <a href="{% link djs.md %}">DJs</a>
    </li>

    <li data-order="3">
      <a href="{% link events.md %}">Events</a>
    </li>

    <li data-order="5">
      <a href="{% link music.md %}">Music</a>
    </li>

    <li data-order="6">
      <a href="{% link video.md %}">Video</a>
    </li>

    <li data-order="7">
      <a href="{% link store.md %}">Store</a>
    </li>
  </ol>
</nav>